html{
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
}

body{
    background: linear-gradient(#939393, #000000, #939393);
    margin: 0;
    padding: 0;
    width: 100%;
}

.container{
    margin: 0 auto;
    width: 100%;
}

.backg{
    background: url('../content/background.png');
    width: 100%;
    height: 900px;
    background-size:cover;
}

/*START MENU*/

.menu{
    margin-top: 21px;
    width: 100%;
    height: 60px;
    background-color: #5B5A5A;
    position: absolute;
}

.text-first{
    text-transform: uppercase;
    font-size: 25px;
    font-family: 'Itim', cursive;
    color:#fff;
    margin-top: 16px;
    left: 100px;
    position: absolute;
}

.menu--list{
    white-space: nowrap;
}

.menu-text__list{
    position: absolute;
    right: 100px;
}

.menu-text__list--textion{
    display: inline;
    font-family: 'Itim', cursive;
    font-size: 25px;
    text-transform: uppercase;
    margin-right: 20px;
    text-align: right;
}

.menu-text__list--textion_button{
    color: #fff;
}

.menu-text__list--textion_button:hover{
    color: #000000;
    transition: all 0.3s ease;
}

a{
    text-decoration: none;
}

.menu-text__list--textion:last-child{
    margin-right: 0px;
}

ul{
    list-style: none;
}

/*END MENU*/

.start-page_content{
    margin-top: 100px;
    display: flex;
}

.start-page{
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.first-section{
    margin: 0 30px 0 auto;
}

.img{
    margin-top: 200px;
}

.logo{
    border-radius: 50%;
}

.second-section{
    margin: 0 auto 0 0;
}

.text-second-section{
    margin-top: 200px;
    width: 650px;
    background-color: #00000078;
    border-radius: 20px;
    border: 10px solid #000000c1;
}

.text{
    font-size: 35px;
    font-family: 'Itim', cursive;
    color:#fff;
}

.text_about-me{
    padding: 20px 20px 0px 20px;
}

.text-about-desc{
    font-size: 30px;
    color:#fff;
    font-family: 'Italianno', cursive;
    margin-left: 300px;
}

.container-about-me{
    margin-top: 100px;
}

.section-about-me{
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.text_first-text-about-me{
    font-size: 65px;
}

.text_about-me-section{
    width: 500px;
}

.btn-read-more{
    margin-top: 25px;
    margin-left: 30px;
}

.text-btn-read-more{
    text-align: center;
    width: 400px;
    color: #5B5A5A;
    transition: all 0.3s ease;
    border-radius: 10px;
}

.text-btn-read-more:hover{
    background-color: #fff;
    border-radius: 10px;
    background-color: #fff;
    -webkit-transform: scale(1.2);        
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    color:#5B5A5A;
}  

.second-section_section-about-me{
    margin: 0 auto;
}

.fade-slider{
    margin-right: 380px;
    margin-top: 60px;
}

.photo-slider{
    border-radius: 20px;
    position: absolute;
}

.fade-slider__item{
    opacity: 0;
    transition: opacity 1s;
}

.fade-slider__item-active{
    opacity: 1;
}

.my_projects{
    margin-top: 250px;
    text-align: center;
}

.first_text_projects{
    font-size: 60px ;
    color:#fff;
    font-family: 'Itim', cursive;
    text-transform: uppercase;
    margin-bottom: 50px;
}

.tabs-btn{
    display: flex;
    justify-content: center;
    margin-left: 10px;
    margin-bottom: 50px;
}

.filter__link--active{
    background-color:#fff;
    color: #000000;
    border-radius: 10px;
}

.filter__item{
    padding: 10px 10px;
}

.filter_btn{
    margin-right: 50px;
    font-size: 30px;
    text-transform: uppercase;
    color:#fff;
    background-color: #5B5A5A;
    font-family: 'Itim', cursive;
    border-radius: 10px;
    background-image: linear-gradient(to right, #fff , #fff);
    background-repeat: no-repeat; 
    background-size: 0 100%; 
    transition: all 0.3s ease; 
}

.filter_btn:hover{
    background-size: 100% 100%; 
    color: #000000;
    transition: all .3s ease;
}

.tabs-content{
    display: flex;
    justify-content: center;
}

.projects-portfolio{
    display: flex;
    max-width: 820px;
    flex-wrap: wrap;
    margin-left: -38px;
}

.container_projects_third{
    margin: 0 auto;
}


.products__item{
    margin-bottom: 35px;
    margin-left: 27px; 
    position: relative;
}

.products__content{
     height: 100%; 
     display: flex;
     align-items: center;
     justify-content: center;
     position: relative; 
     overflow: hidden  ;
     border-bottom-left-radius: 20px;
     border-bottom-right-radius: 20px;
}

.products__desc{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 23px 30px;
    background: rgba(35, 35, 35, .8);  
    font-size: 15px;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translateY(100%);
    transition: transform .3s;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.products__img{
    display: block;
    border-radius: 20px;
}

.btn{
    text-transform: uppercase;
    font-family: 'Itim', cursive;
    font-size: 34px;
    padding: 2px  30px;
    background-color: black ;
    color: #fff ;
    display: inline-block;
    text-decoration: none ;
    background-color: #000000;
    font-family: 'Itim', cursive;
    border-radius: 10px;
    background-image: linear-gradient(to right, #fff , #fff);
    background-repeat: no-repeat; 
    background-size: 0 100%; 
    transition: 0.3s; 
}

.products__desc-text{
    text-align: center;
    margin-bottom: 18px;
    font-family: 'Itim', cursive;
    font-size: 30px;
    color: #ffffff98 ;
}

.first-text_desc{
    margin-bottom: 20px;
    font-size: 45px;
    text-transform: uppercase;
    font-family: 'Itim', cursive;
    color: #fff ;
}

.products__item:hover .products__desc{
    transform: translateY(0%);
}

.btn:hover{
    background-size: 100% 100%; 
    color: #000000 ;
}


.hide{
    display: none;
}

.show{
    display: flex;
}

.fade {
    animation-name: fade;
    animation-duration: .8s;
}

.fade-modal{
    animation-name: fade-modal;
    animation-duration: 1.2s;
}

@keyframes fade-modal {
    from{
        opacity: 0;
        transform: translateY(-100%);
    }
    to{
        opacity: 1;
        transform: translateY(0%);
        transition: all 1.2s ease;
    }
}

@keyframes fade {
    from {
        opacity: 0.4;
        transform: translateY(+0.8%);
    }
    to {
        opacity: 1;
        transform: translateY(0%);
    }
}

/*
    Старт майл
*/

.first-text{
    font-size: 60px;
    text-transform: uppercase;
    color:#fff;
    font-family: 'Itim', cursive;
    text-align: center;
}

#contacts-container{
    background-image: url('../content/contacts/maill.png');
    height: 800px;
    background-size: cover;
    margin-top: 150px;
}

.backg-contacts{
    margin-top: -20px;
    display: flex;
}

.text-contacts{
    text-transform: uppercase;
    font-size: 80px;
    color: #FFF;
    font-family: 'Itim', cursive;
    margin-left: 100px;
    margin-top: 100px;
    height: 200px;
}

.contacts{
    display: flex;
    margin: 0 auto;
}

.text-contacts__second{
    margin-left: 100px;
}

.uniForm{
    margin-left: -400px;
    margin-top: 400px;
    position: relative;
}

input{
    margin-left: -300px;
    margin-top: 100px;
    background: transparent ;
    border: none;
    border-bottom: 5px solid #fff;
    height: 70px;
    width: 700px;
    padding: 0px;
    font-size: 30px;
    color: #fff;
    font-family: 'Itim', cursive;
}

input:focus::placeholder{
    font-size: 30px;
    color: #fff;
    font-family: 'Itim', cursive;
}

input:focus{
    font-size: 30px;
    color: #fff;
    font-family: 'Itim', cursive;
    transition: all 0.3s ease;
}

input::placeholder{
    text-align: center;
    font-size: 60px;
    color: #fff;
    font-family: 'Itim', cursive;
    transition: all 0.3s ease;
}

.submit_but{
    margin-top: 20px;
    background: #fff;
    border-radius: 10px;
    border: none;
    width: 130px;
    height: 40px;
    margin-left: -15px;
    font-family: 'Itim', cursive;
    font-size: 25px;
}

.submit_but:hover{
    background: #000000;
    color: #fff;
    transition: all 0.3s ease;
}

.paragraph-buy{
    margin-left: 60px;
}

/*
    Конец майл
*/

/*
Начало контакты 
*/

.first-text_contacts{
    color: #fff;
    margin: 100px auto;
}

.contacts-information{
    margin: 0 auto;
    margin-bottom: 100px;
}

.contacts-information_sections{
    margin: 0 auto;
    display: flex;
    justify-content: center; /* Размещаем содержимое по горизонтали по центру */
    align-items: center;
}

.phone{
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.phone-text{
    font-size: 35px;
    font-family: 'Itim', cursive;
    color: #fff;
}

.phone-number{
    font-size: 35px;
    font-family: 'Itim', cursive;
    color: #fff;
}

.phone-number_ukr{
    font-size: 35px;
    font-family: 'Itim', cursive;
    color: #fff;
    margin-bottom: 20px;
}

.phone-number-btn{
    max-width: 250px;
}

.phone-number-btn:hover .phone-number{
    color: #000000;
    transition: all 0.3s ease;
}

.address-text{
    font-size: 35px;
    font-family: 'Itim', cursive;
    color: #fff;
}

.address-content{
    font-size: 35px;
    font-family: 'Itim', cursive;
    color: #fff;
}

.address-btn:hover .address-content{
    color: #000000;
    transition: all 0.3s ease;
}

#instagram-btn .instagram-img {
    transition: transform 0.5s ease; /* Плавное переходное изменение */
}

#instagram-btn:hover .instagram-img {
    transform: scale(1.1); /* Увеличение изображения при наведении */
}

.instagram-txt{
    color: #fff;
    font-size: 35px;
    font-family: 'Itim', cursive;
}

.contacts-information_second_section{
    margin-left: 40px;
}

.social_media{
    display: flex; /* Размещение элементов в линию */
    justify-content: center; /* Выравнивание элементов по центру по горизонтали */
    align-items: center; 
}

.telegram{
    margin-left: 20px;
}

#telegram-btn .telegram-img {
    transition: transform 0.5s ease; /* Плавное переходное изменение */
}

#telegram-btn:hover .telegram-img {
    transform: scale(1.1); /* Увеличение изображения при наведении */
}

.whatsapp{
    margin-top: -10px;
    margin-left: 20px;
}

.whatsapp-img{
    height: 70px;
    width: 70px;
}

#whatsapp-btn .whatsapp-img {
    transition: transform 0.5s ease; /* Плавное переходное изменение */
}

#whatsapp-btn:hover .whatsapp-img {
    transform: scale(1.1); /* Увеличение изображения при наведении */
}

#youtube-btn .youtube-img {
    transition: transform 0.5s ease; /* Плавное переходное изменение */
}

#youtube-btn:hover .youtube-img {
    transform: scale(1.1); /* Увеличение изображения при наведении */
}

.youtube{
    margin-left: 20px;
}

.youtube-img{
    height: 60px;
    width: 70px;
}

/* Modal */
.modal{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1050;
    display: none;
    justify-content: center;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(0, 0, 0, .5);
}

.modal__dialog{
    position: relative;
    padding: 40px;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: 20px;
    height: 200px;
    overflow-y: auto;
    width: 500px;
    margin-top: 100px;
    text-align: center;
}

.modal_faile{
    display: none;
}

.modal__close{
    cursor: pointer;
    font-size: 50px;
    opacity: .5;
    transition: all .5s ease;
    position: absolute;
    right: 0;
    top: 0;
    margin-right: 30px;
    margin-top: 10px;
}

.modal__close:hover{
    transform: scale(1.2);
    -webkit-transform: scale(1.2);        
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}

.modal-text{
    font-size: 35px;
    font-family: 'Itim', cursive;
    color: #000000;
}

.modal-text_second{
    margin-left: 30px;
}

.modal-text_first{
    margin-left: -40px;
    margin-top: 60px;
}

/* Animation */

.menu_animation_before {
    opacity: 0;
}

.menu_animation {
    opacity: 1;
    transition: all .5s ease-in;
}

.animte_first-section_before{
    opacity: 0;
    transform: translateX(-1%);
}

.animate__first_section{
    opacity: 1;
    transform: translateX(0%);
    transition: all .5s ease-in;
}

.animte_slider_before{
    opacity: 0;
    transform: translateX(-1.3%);
}

.animate__slider_section{
    opacity: 1;
    transform: translateX(0%);
    transition: all 1s ease-in;
}

.animate_filter_content{
    position: absolute;
    margin-top: 300px;
}

.animate_tabs_before{
    opacity: 0;
    transform: translateY(+10%);
}

.animate-tabs{
    opacity: 1;
    transform: translateY(0%);
    transition: all .5s ease-in;
}

.animate_text_mail_before {
    opacity: 0;
    transform: translateX(-10%);
}

.animate_text_mail {
    opacity: 1;
    transform: translateX(0%);
    transition: all .7s ease-in;
}