html{
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;

}

body{
    background: linear-gradient(#939393, #000000, #939393);
    margin: 0;
    padding: 0;

}

.container{
    margin: 0 auto;
    width: 100%;
}

/*START MENU*/

.menu{
    margin-top: 21px;
    width: 100%;
    height: 60px;
    background-color: #5B5A5A;
    position: relative;
}

.text-first{
    text-transform: uppercase;
    font-size: 25px;
    font-family: 'Itim', cursive;
    color:#fff;
    margin-top: 16px;
    left: 100px;
    position: absolute;
}

.menu--list{
    white-space: nowrap;
}

.menu-text__list{
    position: absolute;
    right: 100px;
}

.menu-text__list--textion{
    display: inline;
    font-family: 'Itim', cursive;
    font-size: 25px;
    text-transform: uppercase;
    margin-right: 20px;
    text-align: right;
}

.menu-text__list--textion_button{
    color: #fff;
}

.menu-text__list--textion_button:hover{
    color: #000000;
    transition: all 0.3s ease;
}

a{
    text-decoration: none;
}

.menu-text__list--textion:last-child{
    margin-right: 0px;
}

ul{
    list-style: none;
}

/*END MENU*/

.container_content{
    display: flex;
    justify-content: center;
}

.first-text{
    font-family: 'Itim', cursive;
    font-size: 60px;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    margin-top: 100px;
}

.tabs-btn{
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.filter__link--active{
    background-color:#fff;
    color: #000000;
    border-radius: 10px;
}

.filter__item{
    padding: 10px 10px;
}

.filter_btn{
    margin-right: 50px;
    font-size: 30px;
    text-transform: uppercase;
    color:#fff;
    background-color: #000000;
    font-family: 'Itim', cursive;
    border-radius: 10px;
    background-image: linear-gradient(to right, #fff , #fff);
    background-repeat: no-repeat; 
    background-size: 0 100%; 
    transition: all 0.3s ease; 
}

.filter_btn:hover{
    background-size: 100% 100%; 
    color: #000000;
    transition: all .3s ease;
}

.tabs-content{
    display: flex;
    justify-content: center;
}

.cards_content{
    width: 950px;
    height: 430px;
    background-color: #000000;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

.img-cards{
    width: 250px;
    height: 380px;
    border-radius: 10px;
}

.second-section{
    margin-left: 20px;
}

.title-text{
    text-transform: uppercase;
    font-family: 'Itim', cursive;
    font-size: 50px;
    color: #fff;
    margin-bottom: 20px;
}

.title-text_for_everyone{
    margin-top: -20px;
}

.text-descr{
    font-family: 'Itim', cursive;
    font-size: 35px;
    color: #ffffffba;
    width: 635px;
}

.cost_first{
    margin-top: 20px;
}

.cost{
    font-family: 'Itim', cursive;
    font-size: 35px;
    color: #fff;
    max-width: 600px;
}

.title-text_camps{
    margin-bottom: 10px;
}

.title-text_trips{
    margin-bottom: 50px;
}

.btn-buy{
    margin-top: 30px;
}

.buy{
    text-transform: uppercase;
    font-family: 'Itim', cursive;
    font-size: 35px;
    color: #000000;
    background-color: #fff;
    padding: 5px 10px;
    border-radius: 10px;
     background-image: linear-gradient(to right, #595959 , #595959);
    background-repeat: no-repeat; 
    background-size: 0 100%; 
    transition: all 0.3s ease; 
}

.buy:hover{
    background-size: 100% 100%; 
    color: #fff;
}

.cards{
    margin-bottom: 100px;
    position: absolute;
}

.cost_first_english{
    font-size: 27px;
}

.hide{
    display: none;
}

.show{
    display: block;
}

/*
    Старт майл
*/

#contacts-container{
    margin-top: 1700px;
    background-image: url('../content/contacts/mail.png');
    height: 800px;
    background-size: cover;
}

.backg-contacts{
    margin-top: -20px;
    display: flex;
}

.text-contacts{
    text-transform: uppercase;
    font-size: 80px;
    color: #FFF;
    font-family: 'Itim', cursive;
    margin-left: 100px;
    margin-top: 100px;
    height: 200px;
}

.contacts{
    display: flex;
    margin: 0 auto;
}

.text-contacts__second{
    margin-left: 100px;
}

.uniForm{
    margin-left: -400px;
    margin-top: 400px;
    position: relative;
}

input{
    margin-left: -300px;
    margin-top: 100px;
    background: transparent ;
    border: none;
    border-bottom: 5px solid #fff;
    height: 70px;
    width: 700px;
    padding: 0px;
    font-size: 30px;
    color: #fff;
    font-family: 'Itim', cursive;
}

input:focus::placeholder{
    font-size: 30px;
    color: #fff;
    font-family: 'Itim', cursive;
}

input:focus{
    font-size: 30px;
    color: #fff;
    font-family: 'Itim', cursive;
    transition: all 0.3s ease;
}

input::placeholder{
    text-align: center;
    font-size: 60px;
    color: #fff;
    font-family: 'Itim', cursive;
    transition: all 0.3s ease;
}

.submit_but{
    margin-top: 20px;
    background: #fff;
    border-radius: 10px;
    border: none;
    width: 130px;
    height: 40px;
    margin-left: -15px;
    font-family: 'Itim', cursive;
    font-size: 25px;
}

.submit_but:hover{
    background: #000000;
    color: #fff;
    transition: all 0.3s ease;
}

.paragraph-buy{
    margin-left: 60px;
}

.content_container{
    display: flex;
}

/*
    Конец майл
*/

/*
Начало контакты 
*/

.first-text_contacts{
    color: #fff;
    margin: 100px auto;
}

.contacts-information{
    margin: 0 auto;
    margin-bottom: 100px;
}

.contacts-information_sections{
    margin: 0 auto;
    display: flex;
    justify-content: center; /* Размещаем содержимое по горизонтали по центру */
    align-items: center;
}

.phone{
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.phone-text{
    font-size: 35px;
    font-family: 'Itim', cursive;
    color: #fff;
}

.phone-number{
    font-size: 35px;
    font-family: 'Itim', cursive;
    color: #fff;
}

.phone-number_ukr{
    font-size: 35px;
    font-family: 'Itim', cursive;
    color: #fff;
    margin-bottom: 20px;
}

.phone-number-btn{
    max-width: 250px;
}

.phone-number-btn:hover .phone-number{
    color: #000000;
    transition: all 0.3s ease;
}

.address-text{
    font-size: 35px;
    font-family: 'Itim', cursive;
    color: #fff;
}

.address-content{
    font-size: 35px;
    font-family: 'Itim', cursive;
    color: #fff;
}

.address-btn:hover .address-content{
    color: #000000;
    transition: all 0.3s ease;
}

#instagram-btn .instagram-img {
    transition: transform 0.5s ease; /* Плавное переходное изменение */
}

#instagram-btn:hover .instagram-img {
    transform: scale(1.1); /* Увеличение изображения при наведении */
}

.instagram-txt{
    color: #fff;
    font-size: 35px;
    font-family: 'Itim', cursive;
}

.contacts-information_second_section{
    margin-left: 40px;
}

.social_media{
    display: flex; /* Размещение элементов в линию */
    justify-content: center; /* Выравнивание элементов по центру по горизонтали */
    align-items: center; 
}

.telegram{
    margin-left: 20px;
}

#telegram-btn .telegram-img {
    transition: transform 0.5s ease; /* Плавное переходное изменение */
}

#telegram-btn:hover .telegram-img {
    transform: scale(1.1); /* Увеличение изображения при наведении */
}

.whatsapp{
    margin-top: -10px;
    margin-left: 20px;
}

.whatsapp-img{
    height: 70px;
    width: 70px;
}

#whatsapp-btn .whatsapp-img {
    transition: transform 0.5s ease; /* Плавное переходное изменение */
}

#whatsapp-btn:hover .whatsapp-img {
    transform: scale(1.1); /* Увеличение изображения при наведении */
}

#youtube-btn .youtube-img {
    transition: transform 0.5s ease; /* Плавное переходное изменение */
}

#youtube-btn:hover .youtube-img {
    transform: scale(1.1); /* Увеличение изображения при наведении */
}

.youtube{
    margin-left: 20px;
}

.youtube-img{
    height: 60px;
    width: 70px;
}

/* Animate */

.menu_animated_before{
    opacity: 0;
}

.menu_animated {
    opacity: 1;
    transition: all 1s ease-in;
}

.courser_animated_before{
    opacity: 0;
    transform: translateX(-3%);
}

.courses_animated{
    opacity: 1;
    transform: translateX(0%);
    transition: all .8s ease-in;
}

.courser_animated_before_second{
    opacity: 0;
    transform: translateX(+3%);
}

.courses_animated_second{
    opacity: 1;
    transform: translateX(0%);
    transition: all .8s ease-in;
}

.buy-btn-animate_before{
    opacity: 0;
    transform: translateY(+5%);
}

.buy-btn-animate{
    opacity: 1;
    transform: translateY(0%);
    transition: all .8s ease-in;
}

.contacts-text-animate_before{
    opacity: 0;
    transform: translateX(-10%);
}

.contacts-text-animate{
    opacity: 1;
    transform: translateX(0%);
    transition: all .5s ease-in;
}
/* Animation */

.animate_cards_before{
    opacity: 0;
    transform: translateX(-5%);
}

.animate_cards{
    opacity: 1;
    transform: translateX(0%);
    transition: all .8s ease;
}

.animate_tabs_before{
    opacity: 0;
    transform: translateY(+20%);
}

.animate-tabs{
    opacity: 1;
    transform: translateY(0%);
    transition: all .5s ease-in;
}

.fade-cards{
    animation-name: fade-cards;
    animation-duration: .8s;
}

@keyframes fade-cards {
    from{
        opacity: 0;
        transform: translateX(-5%);
    }
    to {
        opacity: 1;
        transform: translateX(0%);
        transition: all .8s ease-in;
    }
}

