html{
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
}

body{
    background: linear-gradient(#939393, #000000, #939393);
    margin: 0;
    padding: 0;
    width: 100%;
}

.container{
    margin: 0 auto;
    width: 100%;
}

.backg{
    background: url('./content/background.png');
    width: 100%;
    height: 1000px;
}

/*START MENU*/

.menu{
    margin-top: 21px;
    width: 100%;
    height: 60px;
    background-color: #5B5A5A;
    position: relative;
}

.text-first{
    text-transform: uppercase;
    font-size: 25px;
    font-family: 'Itim', cursive;
    color:#fff;
    margin-top: 16px;
    left: 100px;
    position: absolute;
}

.menu--list{
    white-space: nowrap;
}

.menu-text__list{
    position: absolute;
    right: 100px;
}

.menu-text__list--textion{
    display: inline;
    font-family: 'Itim', cursive;
    font-size: 25px;
    text-transform: uppercase;
    margin-right: 20px;
    text-align: right;
}

.menu-text__list--textion_button{
    color: #fff;
}

.menu-text__list--textion_button:hover{
    color: #000000;
    transition: all 0.3s ease;
}

a{
    text-decoration: none;
}

.menu-text__list--textion:last-child{
    margin-right: 0px;
}

ul{
    list-style: none;
}

/*END MENU*/

.start-page{
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.first-section{
    margin: 0 30px 0 auto;
}

.img{
    margin-top: 200px;
}

.logo{
    border-radius: 50%;
}

.second-section{
    margin: 0 auto 0 0;
}

.text-second-section{
    margin-top: 200px;
    width: 650px;
    background-color: #00000078;
    border-radius: 20px;
    border: 10px solid #000000c1;
}

.text{
    font-size: 35px;
    font-family: 'Itim', cursive;
    color:#fff;
}

.text_about-me{
    padding: 20px 20px 0px 20px;
}

.text-about-desc{
    font-size: 30px;
    color:#fff;
    font-family: 'Italianno', cursive;
    margin-left: 300px;
}

.container-about-me{
    margin-top: 500px;
}

.section-about-me{
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.text_first-text-about-me{
    font-size: 65px;
}

.text_about-me-section{
    width: 500px;
}

.btn-read-more{
    margin-top: 25px;
    margin-left: 30px;
}

.text-btn-read-more{
    text-align: center;
    width: 400px;
    color: black;
    transition: all 0.3s ease;
    border-radius: 10px;
}

.text-btn-read-more:hover{
    background-color: #fff;
    border-radius: 10px;
    background-color: #fff;
    -webkit-transform: scale(1.2);        -ms-transform: scale(1.2);
    transform: scale(1.2);
    color:#5B5A5A;
}  

.second-section_section-about-me{
    margin: 0 auto;
}

.fade-slider{
    margin-right: 380px;
    margin-top: 60px;
}

.photo-slider{
    border-radius: 20px;
    position: absolute;
}

.fade-slider__item{
    opacity: 0;
    transition: opacity 1s;
}

.fade-slider__item-active{
    opacity: 1;
}

